footer {
  background-color: black;
  color: white;

  .footer__content {
    max-width: 1590px * 0.9;
    margin: 0 auto;

    .footer__content__top {
      display: flex;
      justify-content: space-between;
      padding: 6rem 0 10rem;

      @media (max-width: 1500px) {
        width: 90%;
        margin: 0 auto
      }

      @media (max-width: '900px') {
        flex-direction: column;
        gap: 2rem;
    }

      .customer-service,
      .contact,
      .shop,
      .extra {
        min-width: 20%;

        h4 {
          letter-spacing: 2px;
          font-size: 1.3rem;
          margin-bottom: 1rem;
          font-weight: 500;

          @media (max-width: '900px') {
            margin-bottom: .1rem;
        }
        }

        ul {
          li {
            padding-top: 1rem;
            color: #aaa;

            & a {
              color: #aaa;
            }

            &.bold {
              font-weight: 800;
              color: #cccccc;
            }
          }
        }
        &:last-of-type {
          margin-top: 41px;
        }
      }
    }

    .footer__content__bottom {
      color: #777777;
      border-top: 1px solid #464646;
      border-bottom: 1px solid #464646;
      text-align: center;
      
      p {
        line-height: 1.6rem;
        max-width: 80%;
        margin: 3rem auto;
        font-size: 1rem;

        span {
          font-weight: 800;
          color: #909090;
        }
      }
    }

    p {
      color: #777777;
      font-size: .80rem;
      padding: 1.4rem;
      text-align: center;
    }
  }
}
