.main-nav-container {
  background-color: white;
  filter: drop-shadow(1px 1px 5px #00000040);
  position: relative;
  z-index: 1;

  .main-nav-desktop {
    width: 80%;
    margin: 0 auto;
    height: 8rem;
    align-items: center;
    max-width: 1200px;

    a {
      color: black;
    }

    .main-nav-desktop__logo {
      align-items: center;
      font-size: 1.6rem;
      background-color: #d8d8d8;
      color: #525252;
      border: 1px solid #979797;
      height: 70%;
      width: 18rem;

      @media (max-width: '1200px') {
        width: 12rem;
        height: 50%;
      }
    }

    .main-nav-desktop__left,
    .main-nav-desktop__right {
      gap: 1.7rem;
      font-weight: 400;
      font-size: 1rem;
      width: 35%;
    }

    .main-nav-desktop__left {
      justify-content: start;
    }

    .main-nav-desktop__right {
      justify-content: end;
    }

    @media (max-width: '1200px') {
      display: none;
    }
  }
}
