@import './variables';

.main-nav-container {
  background-color: white;
    filter: drop-shadow(1px 1px 5px #00000040);

  .main-nav {
    width: 80%;
    margin: 0 auto;
    height: 7rem;
    align-items: center;

    a {
      color: black;
    }

    .main-nav__logo {
      align-items: center;
      font-size: 1.3rem;
      background-color: #d8d8d8;
      color: #525252;
      border: 1px solid #979797;
      height: 65%;
      width: 15rem;
    }

    .main-nav__left,
    .main-nav__right {
      gap: 1.7rem;
      font-weight: 500;
      font-size: 1rem;
      width: 35%;
    }

    .main-nav__left {
      justify-content: start;
    }

    .main-nav__right {
      justify-content: end;
    }
  }
}
