@import './variables';

.subscribe {
  width: 96%;
  max-width: 1590px;
  margin: 0 auto;
  background-image: url('../assets/img/newsletter_bg.png');
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
//   filter: brightness(.8);

  .subscribe__text {
    color: white;
    width: 50%;
    text-align: center;

    h2 {
      font-weight: 400;
      font-size: 2.4rem;
      margin-bottom: 1.6rem;
    }

    p {
      line-height: 1.6rem;
    }
  }

  .subscribe__form {
    width: 50%;


    form {
        display: flex;

        input[type='text'] {
          border: none;
          display: block;
          width: 25rem;
          padding: 1rem;
          margin-left: 5rem;
        }
    
        input[type='text']::placeholder {
          text-transform: uppercase;
          font-size: 1rem;
        }
    
        button {
          border: none;
          background-color: $button-black;
          color: white;
          font-size: 1rem;
          padding: 0 2rem;
        }
    }
  }
}
