@import './variables';

.top-nav {
    background-color: $top-black;

    .top-nav__content {
        max-width: 2000px;
        width: 90%;
        margin: 0 auto;
        padding: .4rem;
        color: #b4b4b4;
        font-weight: 400;
        font-size: .85rem;

        @media (max-width: 377px) {
            width: 99%;
            font-size: .6rem;
        }

        .top-nav__left,
        .top-nav__right {
            gap: 1rem;
        }

        .top-nav__right {
            @media (max-width: 720px) {
                display: none;
            }
        }

        ul {
            li a {
                color: #b4b4b4;

            }
        }

        @media (max-width: 720px) {
            justify-content: center;
        }
    }
}
