@import './variables';

.top-nav {
    background-color: $top-black;

    .top-nav__content {
        max-width: 2000px;
        width: 90%;
        margin: 0 auto;
        padding: .4rem;
        color: #b4b4b4;
        font-weight: 400;
        font-size: .85rem;

        .top-nav__left,
        .top-nav__right {
            gap: 1rem;
        }

        ul {
            li a {
                color: #b4b4b4;

            }
        }
    }
}
